@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Loja
@model PaginacaoResultado<LojaViewModel>


<div class="app-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-12">
				<div id="loja-listagem">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Nome Fantasia</th>
								<th>CNPJ</th>
								<th>Telefone</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Dados)
							{
								<tr>
									<td>@item.NomeFantasia</td>
									<td>@item.CNPJ</td>
									<td>@item.Telefone</td>
									<td>
										<a asp-action="Editar" asp-route-guid="@item.Guid" class="btn btn-primary btn-sm">
											<i class="nav-icon bi bi-pencil"></i>
										</a>
									</td>
									
								</tr>
							}
						</tbody>
					</table>

					<!-- Paginação -->
					@if (Model.TotalPaginas > 1)
					{
						<nav>
							<ul class="pagination">
								@for (int i = 1; i <= Model.TotalPaginas; i++)
								{
									<li class="page-item @(i == Model.PaginaAtual ? "active" : "")">
										<a href="#" class="page-link" data-page="@i">@i</a>
									</li>
								}
							</ul>
						</nav>
					}
				</div>
			</div>
		</div>
	</div>
</div>

