@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Atendimento
@model AtendimentoConsultaViewModel

@if (Model?.Resultados != null && Model.Resultados.Any())
{
	<div class="table-responsive">
		<table class="table table-striped table-orcamento table-hover table-bordered">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Status</th>
					<th>Data</th>
					<th>Retornar</th>
					<th>R$ Pedido</th>
					<th>Visualizar</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var atendimento in Model.Resultados)
				{
					<tr>
						<td>@atendimento.Cliente</td>
						<td class="status-orcamento-bg">@atendimento.Status</td>
						<td>@atendimento.Data</td>
						<td>@atendimento.DataRetorno</td>
						<td>@atendimento.ValorPedido</td>
						<
						<td>
							<a asp-action="Editar" asp-route-guid="@atendimento.Guid" class="btn btn-primary btn-sm">
								<i class="nav-icon bi bi-pencil"></i>
							</a>
							<a asp-action="Visualizar" asp-route-guid="@atendimento.Guid" class="btn btn-primary btn-sm">
								<i class="nav-icon bi bi-eye"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3"></td>
					<td colspan="1" class="text-center">
						<strong>Soma Total:</strong>
					</td>
					<td colspan="1" class="text-center">
						<strong>@Model.ValorPedido</strong>
					</td>
					<td colspan="1">
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
}
else
{
	<p>Nenhum atendimento encontrado.</p>
}

@if (Model?.TotalPaginas > 1)
{
	<!-- Paginação -->
	<nav>
		<ul class="pagination">
			@for (int i = 1; i <= Model.TotalPaginas; i++)
			{
				<li class="page-item @(i == Model.PaginaAtual ? "active" : "")">
					<a class="page-link" asp-action="ListaOrcamento" asp-route-pagina="@i" asp-route-UsuarioId="@Model.Filtro.UsuarioId" asp-route-LojaId="@Model.Filtro.LojaId">
						@i
					</a>
				</li>
			}
		</ul>
	</nav>
}