@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Atendimento
@using System.Security.Claims
@model AtendimentoViewModel



@{
	var userName = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Name)?.Value : "Visitante";
	var userPerfil = User.Identity.IsAuthenticated ? User.FindFirst("Perfil")?.Value : "Sem Perfil";
}

@section PageSpecificContainer {
	<div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
		<div class="left-select mb-2 mb-lg-0">
			<select asp-for="LojaId" name="LojaId" id="LojaId" class="form-select">
				<option value="">Selecione uma filial</option>
				@if (ViewBag.Lojas != null)
				{
					@foreach (var loja in ViewBag.Lojas)
					{
						<option value="@loja.Value">
							@loja.Text
						</option>
					}
				}
			</select>
			<span asp-validation-for="LojaId" class="text-danger"></span>
		</div>
		<div class="right-search">
			<input type="text" id="searchField" class="form-control" placeholder="Pesquisar..." />
		</div>
	</div>
}

<div class="app-content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb-0 text-center text-sm-center">
					<img src="/icones/atendimento.png" alt="Headset" style="width: 24px; height: 24px; margin-right: 8px;" />
					Atendimento - Edição
				</h3>
			</div>
		</div>
	</div>

</div>

<div class="app-content">
	<div class="container-fluid">
		<form asp-action="Editar" method="post" id="formEditarAtendimento">
			@Html.HiddenFor(m => m.Id)
			@Html.HiddenFor(m => m.Guid)
			@Html.HiddenFor(m => m.IsVendedor)
			<partial name="_Visualizar" />
			<div class="row g-4">
				<div class="col-sm-12">
					<button type="button" class="btn btn-primary float-sm-end" id="btnSalvarAtendimento">GRAVAR ATENDIMENTO</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="/js/atendimento/editar.js"></script>
}