@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Usuario
@model PaginacaoResultado<UsuarioConsulta>


<div class="app-content-header">
	<!--begin::Container-->
	<div class="container-fluid">
		<!--begin::Row-->
		<div class="row">
			<div class="col-sm-6"><h3 class="mb-0">Consulta de Usuários</h3></div>
			<div class="col-sm-6">
				<div class="float-sm-end">
					<a asp-action="Cadastro" class="btn btn-primary w-100 mt-3">Novo Usuario</a>
				</div>
			</div>
		</div>
		<!--end::Row-->
	</div>
	<!--end::Container-->
</div>

<div class="app-content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-12">

				<!-- Listagem de Perfis -->
				<div id="usuario-listagem">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Perfil</th>
								<th>Ativo</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var usuario in Model.Dados)
							{
								<tr>
									<td>@usuario.Nome</td>
									<td>@usuario.Email</td>
									<td>@usuario.Perfil.Nome</td>
									<td>@(usuario.Ativo ? "Sim" : "Não")</td>
									<td>
										<a asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-primary btn-sm">Editar</a>

									</td>
								</tr>
							}
						</tbody>
					</table>

					<!-- Paginação -->
					<nav>
						<ul class="pagination">
							@for (int i = 1; i <= Model.TotalPaginas; i++)
							{
								<li class="page-item @(i == Model.PaginaAtual ? "active" : "")">
									<a href="#" class="page-link" data-page="@i">@i</a>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Script para atualizar a paginação dinamicamente -->
<script src="/js/usuario/consulta.js"></script>
