@using System.Security.Claims;

@{
	var userName = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Name)?.Value : "Visitante";
	var userPerfil = User.Identity.IsAuthenticated ? User.FindFirst("Perfil")?.Value : "Sem Perfil";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PW Métricas</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/adminlte.css" />
	<link rel="stylesheet" href="~/css/customizacao.css" />
	<link rel="icon" href="/images/icon_pwmetricas.svg" type="image/x-icon">

	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/styles/overlayscrollbars.min.css"
		  integrity="sha256-tZHrRjVqNSRyWg2wbppGnT833E/Ys0DHWGwT04GiqQg="
		  crossorigin="anonymous" />
	<link rel="stylesheet"
		  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		  integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
		  crossorigin="anonymous" />
	<link rel="stylesheet" href="~/css/classic.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
	


</head>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
	@if (TempData["MensagemSucesso"] != null)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["MensagemSucesso"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	@if (TempData["MensagemErro"] != null)
	{
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			@TempData["MensagemErro"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	<!--begin::App Wrapper-->
	<div class="app-wrapper">
		<!--begin::Header-->
		<nav class="app-header navbar navbar-expand bg-body">

			<div class="container-fluid">
				<!-- Botão de menu lateral -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
							<i class="bi bi-list iconMenuRosa"></i>
						</a>
					</li>
				</ul>
				<!-- Logo centralizada -->
				<div class="navbar-brand logo-container">
					<a href="/Home/Index">
						<img src="/images/logopwmetricas.png" alt="Logo PW Métricas" class="logo-center img-fluid">
					</a>
				</div>
				<!-- Botões à direita -->
				<ul class="navbar-nav ms-auto" style="z-index: 1050 !important; ">
					<li class="nav-item">
						<button id="theme-toggle" class="btn btn-outline-secondary">
							<i id="theme-icon" class="bi bi-sun" style="color:goldenrod;"></i>
						</button>
					</li>
					<li class="nav-item dropdown user-menu">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
							<img src="/images/user2-160x160.jpg"
								 class="user-image rounded-circle shadow"
								 alt="Imagem do usuário" />

						</a>
						<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
							<li class="user-header text-bg-primary">
								<img src="/images/user2-160x160.jpg"
									 class="rounded-circle shadow"
									 alt="Imagem do usuário" />
								<p>
									@userName
									<small>@userPerfil</small>
								</p>
							</li>

							<li class="user-footer">
								<a href="/Perfil/MeuPerfil" class="btn btn-primary btn-flat">Meu Perfil</a>
								<a href="/Logout" class="btn btn-primary btn-flat float-end">
									<i class="nav-arrow bi bi-box-arrow-right"></i>
								</a>
							</li>

						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<!--Menu-->
		<partial name="_Menu" />
		<main class="app-main">
			<div id="alert-container" style="position: fixed; top: 20px; right: 20px; z-index: 1050;"></div>
			<!-- Container específico para páginas -->
			@if (IsSectionDefined("PageSpecificContainer"))
			{
				<nav class="app-header navbar navbar-expand bg-body">
					@RenderSection("PageSpecificContainer", required: false)
				</nav>
			}
			@RenderBody()
		</main>
		<footer class="app-footer text-center text-sm-center">


			<strong>
				&copy; Pw Metricas - Todos os direitos reservados &nbsp; |
				<a href="#" class="text-decoration-none" style="color:#FFF;">Ajuda </a> |  <a href="#" class="text-decoration-none" style="color:#FFF;">Privacidade</a>
			</strong>

		</footer>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.10.1/browser/overlayscrollbars.browser.es6.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<script src="~/js/adminlte.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	@* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script> *@
	<script src="/js/pickr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script src="~/js/global.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const alerts = document.querySelectorAll(".alert");

			const themeToggle = document.getElementById("theme-toggle");
			const themeIcon = document.getElementById("theme-icon");
			const currentTheme = localStorage.getItem("theme") || "light";

			// Aplica o tema salvo no localStorage
			document.documentElement.setAttribute("data-bs-theme", currentTheme);
			themeIcon.className = currentTheme === "dark" ? "bi bi-sun" : "bi bi-moon";

			// Alterna o tema ao clicar no botão
			themeToggle.addEventListener("click", function () {
				const newTheme = document.documentElement.getAttribute("data-bs-theme") === "dark" ? "light" : "dark";
				document.documentElement.setAttribute("data-bs-theme", newTheme);
				localStorage.setItem("theme", newTheme);
				themeIcon.className = newTheme === "dark" ? "bi bi-sun" : "bi bi-moon";
			});


			 alerts.forEach(alert => {
			setTimeout(() => {
				alert.classList.remove("show");
				alert.classList.add("fade");
				setTimeout(() => alert.remove(), 500);
			}, 4000); // 4 segundos
		});

		});
	</script>
</body>
</html>
