@using System.Security.Claims;
@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Dashboard
@using PWMetricas.Dominio.Enumerators
@model DashboardViewModel



<div class="row">
	<div class="col-sm-10 offset-sm-1">
		<div class="card shadow p-4" id="resultados-container-metas">
			<div id="resultados-metas">
				<div class="progress-container">
					<div class="header">
						<img src="/icones/trofeu.png" style="width: 85px;height: auto;" alt="Troféu" class="icon-trophy">
						<div>
							<h4>Uhuuu, Parabéns @Model.NomeUsuario</h4>
							<h5>Você alcançou @(Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemMetaMensal + "%") da meta mensal.</h5>
							<p>Você está demais, vamos para Super-Meta?</p>
						</div>
					</div>


					<!-- Barra de progresso da meta -->
					<div class="progress mt-3">
						<div class="progress-bar bg-success" role="progressbar"
							 style="width: @(Convert.ToInt32(Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemMetaMensal) + "%")"
							 aria-valuenow="@Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemMetaMensal"
							 aria-valuemin="0" aria-valuemax="100">
							@Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemMetaMensal %
						</div>
					</div>

					<!-- Barra de progresso da super-meta -->
					<div class="progress mt-3">
						<div class="progress-bar bg-meta" role="progressbar"
							 style="width: @(Convert.ToInt32(Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemSuperMetaMensal) + "%")"
							 aria-valuenow="@Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemSuperMetaMensal"
							 aria-valuemin="0" aria-valuemax="100">
							@Model.Vendedor.MinhasMetas?.ValorMetaPorcentagemSuperMetaMensal %
						</div>
					</div>

					<!-- Informações adicionais -->
					<div class="meta-info mt-6 d-flex justify-content-between">
						<div>
							<p>Meta: <span class="text-success">@Model.Vendedor.MinhasMetas?.MetaMensalVendedor.ToString("C")</span></p>
							<p>Super Meta: <span class="text-meta">@Model.Vendedor.MinhasMetas?.SuperMetaMensalVendedor.ToString("C")</span></p>
						</div>
						<div class="text-end">
							<p>Meta Mensal: <b>@Model.Vendedor.MinhasMetas?.MetaMensal.ToString("C")</b></p>
							<p>Super Meta Mensal: <b>@Model.Vendedor.MinhasMetas?.SuperMetaMensal.ToString("C")</b></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





