@using System.Security.Claims;
@using PWMetricas.Aplicacao.Modelos
@using PWMetricas.Aplicacao.Modelos.Dashboard
@using PWMetricas.Dominio.Enumerators
@model DashboardViewModel


@{
	var userName = User.Identity.IsAuthenticated ? User.FindFirst(ClaimTypes.Name)?.Value : "Visitante";
	var userPerfil = User.Identity.IsAuthenticated ? User.FindFirst("Perfil")?.Value : "Sem Perfil";
}


@{
	ViewData["Title"] = "Página Inicial";
}


@section PageSpecificContainer {
	<div class="container-fluid d-flex flex-wrap justify-content-between align-items-center">
		<div class="left-select mb-2 mb-lg-0">
			<select asp-for="LojaId" name="LojaId" id="LojaId" class="form-select">
				<option value="">Selecione uma filial</option>
				@if (ViewBag.Lojas != null)
				{
					@foreach (var loja in ViewBag.Lojas)
					{
						<option value="@loja.Value">
							@loja.Text
						</option>
					}
				}
			</select>
		</div>
		<div class="right-search">
			<input type="text" id="searchField" class="form-control" placeholder="Pesquisar..." />
		</div>
	</div>
}





<div class="app-content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mb-0 text-center text-sm-center">
				</h3>
			</div>
		</div>
	</div>
</div>


<div class="app-content">
	<div class="container-fluid">
		<div class="row col-sm-10 offset-sm-1">
			<div class="col-sm-3">
				<div class="form-group">
					<label asp-for="Mes">Mês</label>
					<select asp-for="Mes" class="form-control" id="Mes">
						@foreach (var item in Enumerador.BuscarTodos<Mes>())
						{
							<option value="@item.Valor">@item.Descricao</option>
						}
					</select>
				</div>
			</div>
			<div class="col-sm-3" style="z-index: 1050 !important; ">
				<div class="form-group">
					<label asp-for="Ano">Ano</label>
					<input asp-for="Ano" class="form-control" id="Ano" type="text" maxlength="4" placeholder="Selecione o ano" />
				</div>
			</div>
			<div class="col-sm-3 d-flex">
				<button type="button" class="btn btn-primary mt-3" id="btnBuscar">Buscar</button>
			</div>
		</div>

		<br />


		<div class="row">
			<div class="col-sm-10 offset-sm-1">

				<div class="accordion" id="accordionExample">
					<div class="accordion-item metricas">
						<h2 class="accordion-header d-flex justify-content-between align-items-center" id="headingOne">
							<button class="accordion-button-metricas" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">
								TAREFAS DO DIA
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
							<div class="accordion-body">
								<div id="lista-tarefas">
									@await Html.PartialAsync("_ListaTarefas", Model)
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<br />
		<br />

	@* 	@if (userPerfil == "Administrador" || userPerfil == "Gerente")
		{
			<partial name="_Metas" model="Model" />
		} *@


		@if (userPerfil == "Vendedor")
		{
			<partial name="_MinhasMetas" model="Model" />
		}

		<br />
		<br />


		<div class="row g-4">
			<div class="col-sm-10 offset-sm-1">
				<div class="card shadow p-4" id="resultados-container">
					<div id="resultados">
						<div class="row">
							<div class="col-sm-12">
								<div class="container-principal">
									<div style="display: flex; align-items: center; margin-bottom: 20px;">
										<span style="font-size: 2em; margin-right: 10px;"> <img src="/icones/check-circle.png" style="width: 90px;height: auto;" alt="Ícone"></span>
										<div>
											<h4 style="color:#fff;">Veja como estão</h4>
											<h2 style="color:#fff;">OS RESULTADOS (Todas as lojas) </h2>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="quadro">
										<div class="quadro-texto">EM ATENDIMENTO</div>
										<div class="quadro-valor status-atendimento">@Model.Resultado?.SomaAtendimento.ToString("C")</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="quadro">
										<div class="quadro-texto">ORÇAMENTO</div>
										<div class="quadro-valor status-orcamento">@Model.Resultado?.SomaOrcamento.ToString("C")</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="quadro">
										<div class="quadro-texto">VENDIDO</div>
										<div class="quadro-valor status-vendido">@Model.Resultado?.SomaVendido.ToString("C")</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="quadro">
										<div class="quadro-texto">PERDIDO NEGOCIADO</div>
										<div class="quadro-valor status-negociado">@Model.Resultado?.SomaNegociado.ToString("C")</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="quadro">
										<div class="quadro-texto">PERDIDO Ñ RESPONDE</div>
										<div class="quadro-valor status-naoresponde">@Model.Resultado?.SomaNaoResponde.ToString("C")</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>


		<br />
		<br />


		@if (userPerfil == "Administrador" || userPerfil == "Gerente")
		{
			<partial name="_Administrador" model="Model" />
		}
		



		<br />
		<br />

		<div class="container text-center mt-4">
			<a href="/Atendimento/Consulta" class="custom-button-outline ms-auto">VERIFICAR ATENDIMENTOS </a>
			<a href="/Atendimento/NovoAtendimento" class="custom-button ms-auto">
				NOVO ATENDIMENTO
				<img src="/icones/atendimento.png" alt="Ícone">
			</a>
		</div>


	</div>
</div>








@section Scripts {
	<!-- Scripts para validação do lado do cliente -->
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/home/paginainicial.js"></script>
	@if (userPerfil == "Administrador" || userPerfil == "Gerente")
	{
		
	}
	else
	{  
		<script src="/js/dashboard/vendedor.js"></script>
	}

}